# Private Key for contract Deployments (DO NOT SHARE!)
PRIVATE_KEY=<your_private_key>

#Contract Deployment address
NAME=USD One
SYMBOL=USD1
DEFAULT_ADMIN_ADDRESS=<admin_address>
MINTER_ADDRESS=<minter_address>
PAUSER_ADDRESS=<pauser_address>

# Ethereum
ETHEREUM_MAINNET_RPC=https://eth-mainnet.g.alchemy.com/v2/demo
ETHEREUM_SEPOLIA_RPC=https://eth-sepolia.public.blastapi.io
ETHERSCAN_API_KEY=FM66FT2V2J37HUS9FB15IMXFUCRZVV4216
ETHEREUM_SEPOLIA_FAUCET=https://faucet.quicknode.com/


# Binance Smart Chain (BSC)
BSC_MAINNET_RPC=https://bsc-dataseed.binance.org
BSC_TESTNET_RPC=https://data-seed-prebsc-1-s1.binance.org:8545
BSCSCAN_API_KEY=EQKWS1Y9JA1Y1IJPVS35WPDP3EKDUSNE5U
BSC_TESTNET_FAUCET=https://faucet.quicknode.com

# Avalanche
AVALANCHE_MAINNET_RPC=https://avalanche.public-rpc.com
AVALANCHE_FUJI_RPC=https://avalanche-fuji.drpc.org
AVALANCHESCAN_API_KEY=CV7S11BFX1JYRRS22DF8WGM7HGGSYXJSIY
AVALANCHE_TESTNET_FAUCET=https://faucet.quicknode.com/

# Polygon
POLYGON_MAINNET_RPC=https://polygon-mainnet.public.blastapi.io
POLYGON_AMOY_RPC=https://rpc-mumbai.maticvigil.com
POLYGONSCAN_API_KEY=9RPVCDD4MADZMGGK6WCF15JAV2H38MJ7EU
POLYGON_TESTNET_FAUCET=https://faucet.quicknode.com/


# Fantom
FANTOM_MAINNET_RPC=https://fantom-mainnet.public.blastapi.io
FANTOM_TESTNET_RPC=https://rpc.testnet.fantom.network
FANTOMSCAN_API_KEY=your_fantomscan_api_key
FANTUM_TESTNET_FAUCET=https://faucet.fantom.network/

# Celo
CELO_MAINNET_RPC=https://forno.celo.org
CELO_ALFAJORES_RPC=https://celo-alfajores.drpc.org
CELOSCAN_API_KEY=BK25IRAK1E7ABW5PCBYC5MEVPPRV353C92
CELO_TESTNET_FAUCET=https://faucet.celo.org/alfajores

# Moonriver
MOONRIVER_RPC=https://moonriver.public.blastapi.io
MOONRIVER_ALPHA_TESTNET=https://rpc.testnet.moonbeam.network
MOONRIVER_API_KEY=BAASU1MUPHXJU2FWXWCK2PWRVNZKJUPVUV
MOONRIVER_TESTNET_FAUCET=https://faucet.moonbeam.network/

# Moonbeam Mainnet(Polkadot - parachains)
MOONBEAM_RPC=https://rpc.api.moonbeam.network
MOONBEAM_API_KEY=ERITM5HP5GKDH5IV7FXX5XB3DWIPCZAU1J

# Moonbase Alpha Testnet(Polkadot - parachains)
MOONBASE_ALPHA_RPC=https://rpc.api.moonbase.moonbeam.network
MOONBASE_ALPHA_TESTNET_FAUCET=https://faucet.moonbeam.network/

# Theta Network
THETA_MAINNET_RPC=https://theta.api.onfinality.io/public
THETA_TESTNET_RPC=https://theta-testnet.api.onfinality.io/public
THETASCAN_API_KEY=
THETA_TESTNET_FAUCET=https://github.com/thetatoken/theta-protocol-ledger/issues/126

# Harmony
HARMONY_MAINNET_RPC=https://api.harmony.one
HARMONY_TESTNET_RPC=https://api.s0.b.hmny.io
HARMONY_TESTNET_FAUCET=https://faucet.pops.one/

# Hedera Hashgraph
HEDERA_MAINNET_RPC=https://mainnet.hashio.io/api
HEDERA_TESTNET_RPC=https://testnet.hashio.io/api
HEDERA_TESTNET_FAUCET=https://portal.hedera.com/register

# Cronos
CRONOS_MAINNET_RPC=https://evm.cronos.org
CRONOS_TESTNET_RPC=https://evm-t3.cronos.org
CRONOS_TESTNET_FAUCET=https://cronos.org/faucet

# Evmos
EVMOS_MAINNET_RPC=https://eth.bd.evmos.org:8545
EVMOS_TESTNET_RPC=https://evmos-testnet-rpc.polkachu.com
EVMOS_TESTNET_FAUCET=https://faucet.evmos.dev/

# Aurora (on NEAR)
AURORA_MAINNET_RPC=https://mainnet.aurora.dev
AURORA_TESTNET_RPC=https://testnet.aurora.dev
AURORA_TESTNET_FAUCET=https://aurora.dev/faucet

# EOS EVM
EOS_MAINNET_RPC=https://api.evm.eosnetwork.com
EOS_TESTNET_RPC=https://api.testnet.evm.eosnetwork.com
EOS_TESTNET_FAUCET=https://faucet.evm.eosnetwork.com

# Shimmer (IOTA)
SHIMMER_MAINNET_RPC=https://json-rpc.evm.shimmer.network
SHIMMER_TESTNET_RPC=https://json-rpc.evm.testnet.shimmer.network
SHIMMER_TESTNET_FAUCET=https://faucet.evm.testnet.shimmer.network/
